<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div class="card my-10 px-5 mx-20 mt-5">
    <div class="row justify-content-end">
        <div class="col-7">
            <h1>Formularz aktu sprzedaży</h1>
        </div>
        <div class="col-1">
            <a href="/" class="btn btn-warning">Anuluj</a>
        </div>
    </div>
    <div class="bg-light">
        <form action="#" th:action="@{/sprzedawca/{id}/addSprzedaz(id=${sprzedawca.idSprzedawcy})}" method="post" th:object="${sprzedaz}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Dane sprzedawcy</h2>
                        <h3>Nazwa firmy: </h3><h4 th:text="${sprzedawca.nazwa}"></h4>
                        <h3>Adres firmy: </h3><h4 th:text="${sprzedawca.adres}"></h4>
                        <h3>Nr NIP: </h3><h4 th:text="${sprzedawca.nip}"></h4>
                        <h3>Telefon: </h3><h4 th:text="${sprzedawca.nrTelefonu}"></h4>
                        <h3>Adres email: </h3><h4 th:text="${sprzedawca.email}"></h4>
                        <h3>Numer konta bankowego: </h3><h4 th:text="${sprzedawca.nrKontaBank}"></h4>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <h2>Dane nabywcy</h2>
                            <input type="text" th:field = "${nabywca.nazwa}" placeholder="Nazwa firmy, imię, nazwisko" class="form-control mb-4 col-4">
                            <input type="text" th:field = "${nabywca.adres}" placeholder="Adres" class="form-control mb-4 col-4">
                            <input type="text" th:field = "${nabywca.nip}" placeholder="Numer NIP" class="form-control mb-4 col-4">
                        </div>
                        <div class="container">
                            <div class="row"><h2>Dane dokumentu</h2></div>
                            <div class="row">
                                <div class="col">
                                    <label for="dataUtworzenia">Data utworzenia:</label>
                                    <input type="date" id="datautworzenia" name="dataUtworzenia" th:field = "${sprzedaz.dataWystawienia}">
                                </div>
                                <div class="col">
                                    <h4>Rodzaj płatności</h4>
                                    <div class="form-check" th:field="${platnosc.formaPlatnosci}">
                                        <input class="form-check-input" type="radio" name="metodaPlatnosci" id="metodaPlatnosci1" checked>
                                        <label class="form-check-label" for="metodaPlatnosci1">
                                            Przelew
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="metodaPlatnosci" id="metodaPlatnosci2">
                                        <label class="form-check-label" for="metodaPlatnosci2">
                                            Gotówka
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h1 align="center"> Lista Usług </h1><br>
                <div class="row"><br><br>
                    <div align="center" class="container px-4">
                        <table class = "table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Nazwa usługi</th>
                                <th>Jednostka miary</th>
                                <th>Ilość szt</th>
                                <th>Cena szt</th>
                                <th>Lączna wartość</th>
                                <th>Czynność</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>input</td>
                                <td>input</td>
                                <td>input</td>
                                <td>input</td>
                                <td>input</td>
                                <td>
                                    <div align = "center" class="panel-body my-20">
                                        <a th:href="@{/{id}/uslugi/new(id=${sprzedaz.idSprzedazy})}" class="btn btn-primary">Dodaj usługę</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div align="center" class="container px-4">
                        <table border="1" class = "table table-striped table-responsive-md">
                            <tbody>
                            <tr th:each="usluga : ${listUsluga}">
                                <td th:text="${usluga.nazwa}"></td>
                                <td th:text="${usluga.jednostkaMiary}"></td>
                                <td th:text="${usluga.iloscJednostek}"></td>
                                <td th:text="${usluga.cenaJednostki}"></td>
                                <td th:text="${usluga.wartosc}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>